/* AbtinQX */

@import url('https://fonts.cdnfonts.com/css/akrobat');


@font-face {
	font-family: higha;
	src: url(Merich.otf);
}

@font-face {
	font-family: abtin;
	src: url(HeadingNowTrial-67Extrabold.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


#hud {
	position: absolute;
	width: 100vw;
	height: 100vh;
	top: 0;
	right: 0;
	box-shadow: inset 0 0 12px 5px rgb(212, 175, 55);
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

#batman {
	position: relative;
	width: 6%;
	height: 4%;
	margin-top: 0.5vh;
	box-shadow: inset 0 0 6px 2px rgb(212, 175, 55);
	background: rgb(20, 20, 20);
	border: 1px solid rgb(212, 175, 55);
	border-radius: 0.5vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

#matn {
	color: rgb(212, 175, 55);
	font-size: 0.6vw;
	font-family: abtin;
	text-align: center;
}