@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

    .bg {
        position: absolute;
        display: none;
        left: 0%;
        right: 0%;
        top: 0%;
        bottom: 0%;  
        background-image: url('./img/bg.png');
        overflow: hidden;
    }

    .main-menu {
      display: block;
    }

    .box-1 {
      position: absolute;
      width: 30.9375vw;
      height: 7.890625vw;
      left: 18.4375vw;
      top: 10.890625vw;
      background: linear-gradient(276.68deg, rgba(255, 239, 90, 0.35) 19.24%, rgba(255, 255, 255, 0) 90.21%), rgba(0, 0, 0, 0.44);
      backdrop-filter: blur(5px);
      border-radius: 0.4vw;
        transition:100ms;
      border: 1px solid rgba(255, 255, 255, 0.3);
    }

    .box-2 {
      position: absolute;
      width: 30.885416666666668vw;
      height: 17.1875vw;
      left: 18.4375vw;
      top: 19.757291666666668vw;
        transition:100ms;
      background: radial-gradient(59.19% 191.13% at 13.91% 98.33%, rgba(121, 255, 207, 0.2) 0%, rgba(93, 211, 169, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, radial-gradient(108.79% 108.79% at 72.51% -48.94%, #00FF38 0%, rgba(0, 255, 56, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, rgba(0, 0, 0, 0.44);
      backdrop-filter: blur(5px);
      border-radius: 0.4vw;
      border: 1px solid rgba(255, 255, 255, 0.3);
    }

    .box-3 {
      box-sizing: border-box;
      position: absolute;
      width: 30.885416666666668vw;
      height: 12.8125vw;
        transition:100ms;
      left: 18.4375vw;
      top: 37.872916666666664vw;
      background: linear-gradient(320.72deg, rgba(189, 255, 243, 0) 56.08%, #BDFFF3 152.7%), linear-gradient(134.02deg, rgba(100, 125, 255, 0) 25.43%, rgba(100, 125, 255, 0.74) 145.85%), rgba(0, 0, 0, 0.44);
      backdrop-filter: blur(5px);
     border-radius: 0.4vw;
     border: 1px solid rgba(255, 255, 255, 0.3);
    }

    .box-4 {
      position: absolute;
      width: 30.885416666666668vw;
      height: 39.780833333333336vw;
      left: 50.677083333333336vw;
        transition:100ms;
      top: 10.864583333333333vw;
      background: radial-gradient(74.14% 59% at 1.85% 0%, rgba(81, 255, 255, 0.26) 0%, rgba(81, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(129.82deg, rgba(103, 100, 255, 0) 44.72%, rgba(100, 181, 255, 0.46) 118.56%), rgba(0, 0, 0, 0.44);
      backdrop-filter: blur(5px);
      border: 1px solid rgba(255, 255, 255, 0.3);
     border-radius: 0.4vw;
    }

    .box-2-img {
      background-image: url("./img/image-1.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 17.19vw;
      margin-top: -0.04vw;
      width: 30.85vw;
    }

    .box-2-class {
      position: absolute;
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 500;
      margin-top: 2vw;
      margin-left: 6vw;
      font-size: 5.6654687500000005vw;
      text-transform: uppercase;
      color: #9DE9B7;
    }

    .box-2-button {
      position: absolute;
      width: 8.578125vw;
      top: 10vw;
      margin-left: 7.3vw;
      height: 2.9703125vw;
        transition:100ms;
      border: 2.42697px solid #62FF84;
      box-shadow: 0px 0px 26.6966px 7.2809px rgba(0, 255, 55, 0.31);
      border-radius: 6.06742px;
      text-align: center;
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 400;
      font-size: 1.8960677083333333vw;
      line-height: 2.8125vw;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.58);
    }

    .box-1-class {
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 500;
      font-size: 2.5vw;
      line-height: 3.6979166666666665vw;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-left: 2vw;
      width: 21vw;
      overflow: hidden;
      margin-top: 1vw;
    }

    .box-1-cizgi {
      background: linear-gradient(90deg, #E2D66B 0%, rgba(226, 214, 107, 0) 100%);
     border-radius: 0.4vw;
      width: 16.302083333333332vw;
      height: 1.71875vw;
      margin-left: 2vw;
      text-indent: 0.7vw;
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 500;
      font-size: 0.8333333333333334vw;
      line-height:1.8vw;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.54);
    }

    .box-1-icon {
      position: absolute;
      font-size: 3vw;
      color: white;
      margin-left: 25vw;
      margin-top: -4.5vw;
    }

    .box-1-price {
      height: 1.9vw;
      width: 7vw;
      text-align: center;
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 500;
      font-size: 1.3020833333333333vw;
      text-transform: uppercase;
      color: #45E585;
      margin-left: 23vw;
      margin-top: -1.8vw;
      overflow-y: hidden;
    }

    .box-3-img {
      position: absolute;
      background-image: url("./img/image-2.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 12vw;
      width: 10.85vw;
      margin-top: 1.25vw;
      margin-left: -0.4vw;
    }

    .box-3-class {
      position: absolute;
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 500;
      font-size: 2.5vw;
      text-transform: uppercase;
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 500;
      font-size: 4.6875vw;
      line-height: 6.927083333333333vw;
      text-transform: uppercase;
      color: #CAD9FF;
      margin-left: 8vw;
      width: 21vw;
      overflow: hidden;
      margin-top: 1vw;
    }

    .box-3-button {
      position: absolute;
      width: 10.9375vw;
      height: 2.3958333333333335vw;
      background: #4579FF;
      border-radius: 5px;
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 400;
      font-size: 1.5625vw;
      line-height: 2.2916666666666665vw;
        transition:100ms;
      text-transform: uppercase;
      text-align: center;
      color: rgba(0, 0, 0, 0.51);
      margin-left: 10.6vw;
      margin-top: 7.4vw;
    }

    .box-4-member{
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 600;
      font-size: 3.6147552083333334vw;
      margin-top: 1.4vw;
      margin-left: 2vw;
      background: linear-gradient(180deg, #67B9E8 0%, rgba(103, 185, 232, 0.46) 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
   
      text-shadow: 0px 0px 75px rgba(0, 209, 255, 0.42);
    }

    .box-4-img {
      position: absolute;
      background-image: url("./img/image-3.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 4vw;
      width: 10.85vw;
      margin-top: -4.55vw;
      margin-left: 14.9vw;
    }

    .box-4-members {
      position: absolute;
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 400;
      font-size: 3.6147552083333334vw;
      margin-top: -5.38vw;
      margin-left: 24.5vw;
      color: #64FF86;
    }

    .box-4-members span{
      font-size: 2.1875vw;
      color: #FFFFFF;
    }

    .box-4-items {
      height: 32vw;
      width: 26vw;
      overflow-y: scroll;
      overflow-x: hidden;
      margin-top: -0.3vw;
      margin-left: 2.5vw;
    }

    .box-4-item {
      width: 24.635416666666668vw;
      height: 3.1770833333333335vw;
      border: 1px solid rgba(255, 255, 255, 0.3);
      filter: drop-shadow(0px -1px 53px rgba(255, 255, 255, 0.1));
      border-radius: 5px;
      margin-top: 0.8vw;
    }

    .box-4-item-name {
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 400;
      font-size: 1.0416666666666667vw;
      text-transform: uppercase;
      color: #ACACAC;
      margin-top: 0.8vw;
      margin-left: 1.4vw;
      width: 7vw;
        overflow:hidden;  
    height:1.55vw;
    }

    .box-4-item-box {
      width: 6.145833333333333vw;
      height: 1.5104166666666667vw;
      background: #77AEE0;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 5px;
      margin-left: 10vw;
      margin-top: -1.57vw;
      text-align: center;
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 500;
      font-size: 0.625vw;
      line-height: 1.45vw;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.47);
    }

    .box-4-online-png 
    {
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("./img/online.png");
      height: 1.7vw;
      width: 2vw;
      margin-left: 18vw;
      margin-top: -1.7vw;
    }

    .box-4-online-text {
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 500;
      font-size: 0.9375vw;
      text-transform: uppercase;
      margin-left: 20vw;
      margin-top: -1.5vw;
      color: rgba(93, 255, 129, 0.63);
    }

    .box-4-offline-png 
    {
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("./img/offline.png");
      height: 1.7vw;
      width: 2vw;
      margin-left: 18vw;
      margin-top: -1.7vw;
    }

    .box-4-offline-text {
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 500;
      font-size: 0.9375vw;
      text-transform: uppercase;
      margin-left: 20vw;
      margin-top: -1.5vw;
      color: rgba(226, 226, 226, 0.63);
    }

    .box-5 {
      position: absolute;
      width: 63.0478527607362vw;
      height: 5.775460122699387vw;
        transition:100ms;
      left: 18.44723926380368vw;
      top: 4.571779141104294vw;
      background: radial-gradient(74.14% 59% at 1.85% 0%, rgba(81, 255, 255, 0.26) 0%, rgba(81, 255, 255, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */, linear-gradient(129.82deg, rgba(103, 100, 255, 0) 44.72%, rgba(100, 181, 255, 0.46) 118.56%), rgba(0, 0, 0, 0.44);
      border: 2px solid rgba(255, 255, 255, 0.35);
      border-radius: 5px
    }



    .profile {
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("./img/profile.png");
      height: 3.1vw;
      width: 3.1vw;
      margin-left: 2vw;
      margin-top: 1.4vw;
    }

    .profile-name {
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 400;
      font-size: 1.7006134969325154vw;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.65);
      margin-top: -2.9vw;
      margin-left: 5.7vw;
      width:13.5vw;
      overflow: hidden;
    }

    .box-1-mini {
      position: absolute;
      width: 10.714110429447852vw;
      height: 3.024539877300613vw;
      left: 20.28159509202454vw;
      top: 1.3337423312883436vw;
      background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) -44.12%, rgba(0, 0, 0, 0.37) 100%);
      border-radius: 5px;
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 500;
      font-size: 2.0006134969325154vw;
      line-height: 2.7vw;
      text-transform: uppercase;
      text-align: center;
        transition:100ms;
      color: rgba(255, 255, 255, 0.65);
    }

    .box-2-mini {
      position: absolute;
      width: 10.714110429447852vw;
      height: 3.024539877300613vw;
      left: 31.94601226993865vw;
      top: 1.3337423312883436vw;
      background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0) -44.12%, rgba(0, 0, 0, 0.37) 100%);
      border-radius: 5px;
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 500;
      font-size: 2.0006134969325154vw;
      line-height: 2.7vw;
      text-transform: uppercase;
      text-align: center;
        transition:100ms;
      color: rgba(255, 255, 255, 0.65);
    }


    .exit-button {
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("./img/close.png");
      height: 8.1vw;
      width: 8.1vw;
      margin-left: 56vw;
        transition:100ms;
      margin-top: -5.3vw;
    }

        /* width */
    ::-webkit-scrollbar {
      width: 10px;
      border-radius: 1vw;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0.27);
      border-radius: 1vw;

    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #65AAD3;
      border-radius: 1vw;

    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #65AAD3;
      border-radius: 1vw;
    }

    .case {
      z-index: 1;
      position: absolute;
      width: 43.177083333333336vw;
      height: 44.6875vw;
      left: 28.385416666666668vw;
      top: 5.78125vw;
      display: none;
      background: linear-gradient(347.31deg, rgba(100, 255, 190, 0) 61.32%, rgba(100, 255, 190, 0.49) 102.64%), rgba(0, 0, 0, 0.44);
      backdrop-filter: blur(47.5px);
      border-radius: 10px;
      border: 2px solid gray;
    }

    .case-img {
      background-image: url("./img/image-4.png");
      background-repeat: no-repeat;
      background-size: cover;
      height: 44.80vw;
      width: 43.3vw;
    }

    .case-text {
      position: absolute;
      width: 25.78125vw;
      height: 6.927083333333333vw;
      left: 8.333333333333334vw;
      top: 2.1875vw;
      background: rgba(25, 153, 107, 0.43);
      border: 3px solid rgba(255, 255, 255, 0.1);
      border-radius: 26px;
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 600;
      text-align: center;
      font-size: 4.6875vw;
      line-height: 6.927083333333333vw;
      text-transform: uppercase;
      color: #62C87F;
    }

    .case-text span {
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 400;
      font-size: 4.6875vw;
      line-height: 6.927083333333333vw;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.67);
    }

    .case-mini-text {
      position: absolute;
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 500;
      font-size: 2.0833333333333335vw;
      margin-left: 17vw;
      margin-top: -35vw;
      text-transform: uppercase;
      color: #FFFFFF;
    }

    .case-price {
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 500;
      font-size: 3.125vw;
      line-height: 4.635416666666667vw;
      text-transform: uppercase;
      color: #00FF75;
      margin-top: -32.8vw;
      text-align: center;
      width: 24vw;
      margin-left: 9vw;
    }

    .case-price span {
      font-weight: 400;
    }

    .input {
      position: absolute;
      width: 28.75vw;
      height: 5.9375vw;
      left: 7.291666666666667vw;
      top: 18.75vw;
      background: rgba(0, 0, 0, 0.32);
      border: 2px solid rgba(255, 255, 255, 0.21);
      backdrop-filter: blur(21.5px);
      border-radius: 5px;
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 400;
      font-size: 2.6041666666666665vw;
      text-transform: uppercase;
      padding-left: 5px;
    }

    .input::placeholder {
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 400;
      font-size: 2.6041666666666665vw;
      text-transform: uppercase;
      margin-top:0.6vw;
      margin-left:0.4vw;
      position:absolute;
      color: rgba(255, 255, 255, 0.43);
    }

    .input::-webkit-input-placeholder {
      line-height: 4vw;
    }


    .amount-text {
      margin-left: 7.4vw;
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 300;
      font-size: 1.5625vw;
      line-height: 2.2916666666666665vw;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.47);
    }

    .wit-button {
      position: absolute;
      width: 28.75vw;
      height: 5vw;
      left: 7.291666666666667vw;
      top: 25.520833333333332vw;
      background: #8CFFAC;
        transition:100ms;
      border: 2px solid rgba(0, 0, 0, 0.26);
      border-radius: 5px;
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 500;
      font-size: 2.6041666666666665vw;
      text-align: center;
      line-height: 4.4vw;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.41);
    }

    .dep-button {
      position: absolute;
      width: 28.75vw;
      height: 5vw;
      left: 7.291666666666667vw;
      top: 31.875vw;
      background: #8CFFE3;
      border: 2px solid rgba(0, 0, 0, 0.26);
      border-radius: 5px;
      font-family: 'Oswald';
      font-style: normal;
       transition:100ms;
      font-weight: 500;
      font-size: 2.6041666666666665vw;
      line-height: 4.4vw;
      text-align: center;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.41);
    }
    
    .stash-button {
      position: absolute;
      width: 15.052083333333334vw;
      height: 4.84375vw;
      left: 14.0625vw;
      top: 38.177083333333336vw;
      border: 3px solid #C7FF9B;
      box-shadow: 0px 0px 31px 2px #C6F7A0;
      border-radius: 10px;
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 400;
      font-size: 2.8645833333333335vw;
      transition:100ms;
      line-height: 4.270833333333333vw;
      text-transform: uppercase;
      text-align: center;
      color: #C7FF9B;
    }

    .exit-button2 {
      position:absolute;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("./img/close.png");
      height: 8.1vw;
      width: 8.1vw;
      transition:100ms;
      margin-left: 37vw;
      margin-top: -46.9vw;
    }

    .recruit {
      position: absolute;
      width: 65.57291666666667vw;
      height: 38.59375vw;
      left: 17.239583333333332vw;
      top: 8.854166666666666vw;
      display: none;
      border: 2px solid gray;
      background: linear-gradient(24.3deg, rgba(255, 255, 255, 0) 66.24%, rgba(231, 231, 255, 0.36) 103.2%), linear-gradient(219.79deg, rgba(61, 68, 255, 0) 22.72%, rgba(64, 71, 255, 0.36) 95.18%), rgba(0, 0, 0, 0.44);
      backdrop-filter: blur(47.5px);
      border-radius: 10px;
      z-index: 1;
    }

    .recruit-text {
      position: absolute;
      width: 14.010416666666666vw;
      height: 6.197916666666667vw;
      left:2.7083333333333335vw;
      top: 2.0833333333333335vw;
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 500;
      font-size: 4.166666666666667vw;
      line-height: 6.197916666666667vw;
      text-transform: uppercase;
      color: #64BEFF;
    }

    .stroke {
      width: 29.84375vw;
      height: 0.20833333333333334vw;
      background: radial-gradient(50% 50% at 50% 50%, rgba(255, 255, 255, 0.26) 0%, rgba(255, 255, 255, 0) 100%);
      margin-top: 5.30vw;
      margin-left: 22.0vw;
    }

    .online {
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("./img/online.png");
      height: 2.8vw;
      width: 3vw;
      margin-left: 53vw;
      margin-top: -1.5vw;
    }

    .online-text {
      position: absolute;
      width: 7.96875vw;
      height: 6.197916666666667vw;
      left: 56.770833333333336vw;
      top: 2.0833333333333335vw;
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 500;
      font-size: 4.166666666666667vw;
      line-height: 6.197916666666667vw;
      text-transform: uppercase;
      color: #5DFF81;
    }

    .online-text span{
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 500;
      font-size: 3.125vw;
      line-height: 4.635416666666667vw;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.56);
    }

    .recruit-bg {
      height: 28vw;
      width: 62.5vw;
        margin-top:2.8vw;
      margin-left: 2vw;
      overflow-x: hidden;
      overflow-y: scroll;
    }

    .recruit-item {
      width: 29.583333333333332vw;
      height: 3.4375vw;
      border: 2px solid rgba(255, 255, 255, 0.25);
      border-radius: 5px;
      margin-top: 1.5vw;
      margin-left: 0.7vw;
      float: left;
    }

    .recruit-name {
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 400;
      font-size: 1.0416666666666667vw;
      text-transform: uppercase;
      color: #ACACAC;
      margin-left: 1vw;
      margin-top: 0.85vw;
      width: 8vw;
      overflow: hidden;
    }

    .recruit-button {
      width: 6.145833333333333vw;
      height: 1.5104166666666667vw;
      background: #77AEE0;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 5px;
      margin-top: -1.6vw;
      margin-left: 10vw;
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 500;
      font-size: 0.625vw;
      line-height: 1.5vw;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.47);
      text-align: center;
    }

    .up {
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("./img/up.png");
      height: 1.5vw;
      width: 1.5vw;
      margin-top: -1.55vw;
        transition:100ms;
      margin-left: 20vw;
    }

    .down {
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("./img/down.png");
      height: 1.5vw;
      width: 1.5vw;
      margin-top: -1.52vw;
        transition:100ms;
      margin-left: 23vw;
    }
    .fire {
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("./img/fire.png");
      height: 2vw;
      width: 2vw;
      margin-top: -1.7vw;
      transition:100ms;
      margin-left: 7.8vw;
      cursor: pointer;
    }
    .fire:hover{
      margin-top: -1.8vw;
      margin-left: 7.5vw;
      width: 2.5vw;
    
    }
    .online-img-2 {
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("./img/online.png");
      height: 2vw;
      width: 2.3vw;
      margin-top: -1.80vw;
      margin-left: 26.2vw;
    }

    .offline-img-2 {
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("./img/offline.png");
      height: 2vw;
      width: 2.3vw;
      margin-top: -1.80vw;
      margin-left: 26.2vw;
    }

    .box-2-button:hover {
        background-color:62FF84;
        color: rgba(0, 0, 0, 0.51);
        cursor:pointer;
        scale:1.08;
    }

    .box-3-button:hover {
        background-color:transparent;
        border:3px solid #4579FF;
        color: rgba(255, 255, 255, 0.58);
        cursor:pointer;
        scale:1.08;
    }

    .box-1:hover,.box-2:hover,.box-3:hover,.box-4:hover {
        scale:0.98;
    }

    .box-1-mini:hover,.box-2-mini:hover,.exit-button:hover,.exit-button2:hover,.exit-button3:hover  {
       cursor:pointer;
        scale:0.95;
    }

    .wit-button:hover,.dep-button:hover {
     scale:0.95;
     cursor:pointer;
    }

    .stash-button:hover {
      background:#C6F7A0;
      scale:0.95;
      cursor:pointer;
      color: rgba(0, 0, 0, 0.41);
    }

    .input input[type=text] {
          font-family: 'Oswald';
          font-style: normal;
          font-weight: 400;
          font-size: 2.6041666666666665vw;
          text-transform: uppercase;
            position:absolute;
            color: rgba(255, 255, 255, 0.43);
    }



    .exit-button3 {
      position:absolute;
      background-size: cover;
      background-repeat: no-repeat;
      background-image: url("./img/close.png");
      height: 8.1vw;
      width: 8.1vw;
      transition:100ms;
      margin-left: 59vw;
      margin-top: -8.6vw;
    }

    .input2 {
      position: absolute;
      width: 5.75vw;
      height: 1.9375vw;
      left: 2.991666666666667vw;
      top: 7.75vw;
      background: rgba(0, 0, 0, 0.32);
      border: 2px solid rgba(255, 255, 255, 0.21);
      backdrop-filter: blur(21.5px);
      border-radius: 5px;
    }

    .input2::placeholder {
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 400;
      font-size: 0.9041666666666665vw;
      text-transform: uppercase;
        position:absolute;
        color: rgba(255, 255, 255, 0.43);
    }

    .enter {
        position:absolute;
       width: 6.145833333333333vw;
      height: 1.5104166666666667vw;
      background: #77AEE0;
      border: 1px solid rgba(255, 255, 255, 0.3);
      border-radius: 5px;
      margin-top: 1.1vw;
      margin-left: 10vw;
      font-family: 'Oswald';
      font-style: normal;
      font-weight: 500;
      font-size: 0.625vw;
      line-height: 1.5vw;
        transition:100ms;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.47);
      text-align: center;
    }

    input[type=text] {
          font-family: 'Oswald';
          font-style: normal;
          font-weight: 400;
          font-size: 0.6041666666666665vw;
          text-transform: uppercase;
            position:absolute;
            color: rgba(255, 255, 255, 0.43);
    }

    .enter:hover,.up:hover,.down:hover {
        scale:0.90;
        cursor:pointer;
    }